.body-portfolio {
    margin: 2rem 6rem 0rem 8rem;
    display: grid;
    grid-template-areas:
    "a b c";
    grid-template-columns: 65% 6% 29%;
}

.left-container-portfolio {
    grid-area: a;
}

.total-money-invested {
    margin-bottom: 0.3rem;
}

.net-percentage-positive {
    margin-top: 0%;
    color: green;
    font-size: 0.9rem;
}

.net-percentage-negative {
    margin-top: 0%;
    color: red;
    font-size: 0.9rem;
}

.right-container-portfolio {
    grid-area: c;
    position: sticky;
    color: antiquewhite;
    background-color: rgb(74, 74, 74);
    margin-top: 1rem;
    margin-right: 2rem;
    height: 31rem;
    border-radius: 0.2rem;
    border: 1px solid rgb(146, 146, 146);

}

.portfolio-crypto-header-container {
    padding-left: 1.5rem;
    height: 2.9rem;
    border-bottom: 1px solid rgb(146, 146, 146);
    display: flex;
}

.portfolio-crypto-header {
    justify-content: center;
    margin-top: 0.88rem;
}

.portfolio-crypto-coins-container {
    border-bottom: 1px solid rgb(146, 146, 146);
}

.portfolio-individual-coin-container {
    display: grid;
    grid-template-areas:
    "a b c";
    grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-individual-coin-container:hover {
    background-color: rgb(100, 100, 100);
    cursor: pointer;
}

.portfolio-individual-coin-left {
    grid-area: a;
    padding-left: 1.5rem;
    margin-top: 0.5rem;
}

.portfolio-individual-coin-right {
    grid-area: c;
    margin-top: 0.5rem;
}

.small-crypto-symbol {
    font-weight: 600;
    font-size: small;
    margin: 0.4rem 0 0.4rem 0;
}

.small-crypto-values {
    font-weight: 400;
    font-size: smaller;
    margin: 0.4rem 0 0.4rem 0;
}

.list-header {
    display: flex;
    justify-content: space-between;
}

.plus-sign {
    margin-top: 1.2rem;
    margin-right: 1rem;
}

.plus-sign:hover{
    color: orange;
    cursor: pointer;
}

.portfolio-individual-watchlist-container {
    display: grid;
    grid-template-areas:
    "a b";
    grid-template-columns: 1fr 1fr;
}

.portfolio-individual-watchlist-left {
    grid-area: a;
    padding-left: 1.5rem;
}

.portfolio-individual-watchlist-right {
    grid-area: b;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1.1rem;
    margin-bottom: 0.6rem;

}

.arrow-down {
    border-left: 0.3rem solid antiquewhite;
    border-bottom: 0.3rem solid antiquewhite;
    width: 0.5rem;
    height: 0.5rem;
    transform: rotate(-45deg);
}

.arrow-down:hover {
    border-color: orange;
    cursor: pointer;
}
