.right-container-crypto {
    grid-area: c;
    position: sticky;
    color: antiquewhite;
    background-color: rgb(74, 74, 74);
    margin-top: 1rem;
    margin-right: 2rem;
    height: 24rem;
    border-radius: 0.2rem;
    border: 1px solid rgb(146, 146, 146);

}

.crypto-page-big-name {
    margin-bottom: 0;
    font-weight: 400;
}

.crypto-name-pic-container {
    display: flex;
}

.crypto-page-big-price {
    margin-top: 0.2rem;
    font-weight: 400;
}

.specific-crypto-header {
    padding-left: 1.5rem;
    height: 2.9rem;
    border-bottom: 1px solid rgb(146, 146, 146);
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.big-crypto-image {
    height: 2.5rem;
    border-radius: 100%;
    margin: 1.3rem 0 0 0.3rem;
}

.graph-container {
    height: 20rem;
    width: 40rem;
}

.toggle-time-buttons {
    border-radius: 0;
    margin: 1rem;
    background-color: transparent;
    color: black;
    border: 1px solid black;
    width: 7rem;
    height: 2.5rem;
}

.toggle-time-buttons:hover {
    cursor: pointer;
    background-color: rgba(255, 69, 0, 0.1);
    border-color: orangered;
    transition: background-color 0.2s, border-color 0.2s;
}

.buy-sell-button {
    border: transparent;
    background: transparent;
    font-size: large;
}

.buy-sell-buttons-active {
    color: orangered;
}

.invest-in-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem 0 1.5rem;
    font-size: small;
    margin-bottom: 0.4rem;
}

.buy-crypto-select-menu {
    height: 2.3rem;
    width: 8rem;
    background: transparent;
    color: antiquewhite;
    border-radius: 2px;
}

.buy-crypto-input-menu{
    height: 2.1rem;
    width: 7.74rem;
    background-color: rgb(146, 146, 146);
    color: antiquewhite;
    border: none;
    border-radius: 2px;
}

.buy-crypto-input-menu:focus {
    outline: green solid 1px;

}

.amount-container {
    padding-bottom: 1rem;
}

.amount-container-border {
    margin-top: 0.5rem;
    margin-left: 1.2rem;
    width: 85%;
    border-bottom: 1px solid rgba(146, 146, 146, 0.5);
}

.estimated-label {
    font-weight: 600;
}

.buy-crypto-button-container {
    display: flex;
    justify-content: center;
}

.buy-crypto-button {
    margin-top: 3rem;
    width: 80%;
    height: 3rem;
    background-color: orangered;
    color: black;
}

.add-to-list-button-container{
    display: flex;
    justify-content: center;
    margin-top: 6rem;
}

.add-to-list-button {
    width: 80%;
    height: 3rem;
    border: orangered 1px solid;
    color: orangered;
    background-color: transparent;
}
